html{
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-size: 23px;
  font-weight: bold;
}

h3{
  font-size:32px;
  font-weight: bold;
}

h4{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

footer{
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray
}

.flatiron_img{
  background-image: url("../images/flatiron-building.png");
  color: white;
}

.header-nav{
  color: white;
  font-size: 18px;
}

.footer-nav{
  color: white;
}
